
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.cardContainer {
    margin: auto;
}


.card {
    width: 500px;
    height: 600px;
}

.item12{
    .img{
        width: 460px;
        height: 248px;
        overflow: hidden;
        img{
            width: 184px !important;
            height: 290px;
        }
    }
}


.item13{
    .img{
        width: 460px;
        height: 282px;
        overflow: hidden;
        img{
            width: 184px !important;
            height: 290px;
        }
    }
}


.img {
    display: flex;
    padding: 30px 20px;
    width: 450px;
    margin-bottom: 20px;
}

.img img {
    width: 400px;
    height: 250px;
    margin: auto;
}

span {
    margin: 5px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.25);
}







