


.cardContainer {
    margin: auto;
}


.card {
    width: 500px;
    height: 600px;
}

.image {
    /* background-color: rgb(2, 2, 133); */
    display: flex;
    padding: 30px 20px;
    width: 450px;
    margin-bottom: 20px;
}

.image img {
    width: 160px;
    height: 250px;
    margin: auto;
}

span {
    margin: 5px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.25);
}


